body {
    margin: 0;
    color: #2d4c5c; 
}

a {
    color: #2d4c5c; 
}

ul, p, h2, h3 {
    margin: 0;
    padding: 0;
}

/* container for all */
.container{
    padding: 0 20px;
  
}

/* Header and its transparent*/

header {
  
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: transform 0.4s ease,
                opacity 0.3s ease;
}
/* .header.transparent .navbar {
    background: transparent;
    border: #666;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}
.header.scrolled .navbar {
    background: rgba(243, 244, 232, 0.75);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
} */


/* navbar and its children */
.navbar {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    padding: 0 10px;
    background: rgba(243, 244, 232, 0.75);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
   
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 0;
    height: 1px;
    background:#2d4c5c;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links { 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav-brand img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}
.nav-action,
.nav-brand,
.nav-menu { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.icon:hover {
    opacity: 0.6;
}

/* Hero Section */

.hero-card {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   position: relative;
   overflow: hidden;
   border-radius: 20px;
}
.hero-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.hero-card:hover img {
    transform: scale(1.1);
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    background-color: rgb(250, 244, 235);
    padding: 60px;
}
.hero-content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 500px;
    margin-bottom: 30px;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    
}
.hero-content h2 {
    margin-bottom: 20px;
}
.hero-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 36px;
    border: 1px solid #666;
    border-radius: 999px;
    text-decoration: none;
    transition: .3s;
}
.hero-btn:hover {
    background: #dbc7b0;
    color: #2d4c5c;
}

/* New Arrival Section */
.newArrivals-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    gap: 50px;
    align-items: stretch;
    
}

.newArrivals-card img{
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
  
}


.newArrivals-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 244, 235);
    padding: 10px;
    border-radius: 20px;
   
}

.newArrivals-content h2,
.newArrivals-content p,
.newArrivals-content a{
    max-width: 100%;
    overflow-wrap: break-word;
    display: inline;
}

.move-btn {
    display: inline-flex;
    justify-content: space-between;    
}

.abtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: large;
    color: #33505e;
    border-style: none;
    background-color: #f1e4d5;
}
.abtn:hover {
    background: #f4d9ba;
    color: #2d4c5c;
}

#newArrivals h2{
    padding: 20px 0;
    text-align: center;
}
.viewItem-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 36px;
    border: 1px solid #666;
    border-radius: 999px;

    text-decoration: none;
    transition: .3s;
}
.viewItem-btn:hover {
    background: #dbc7b0;
    color: #2d4c5c;
}

@media (max-width: 900px) {
  .newArrivals-card{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}


/* Category Section */

#categories h2 {
    text-align: center;
    padding: 20px 0;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.category-card {
    text-decoration: none;
}

.category-image img {
    object-fit: cover;
    transition: transform 0.4s ease;
}

.category-card h3 {
    margin-top: 10px;
    text-align: center;
}

.category-card:hover img {
    transform: scale(1.1);
}

.category-slider {
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;
    border-radius: 20px;
}

.category-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-slider img.active {
    opacity: 1;
}

.category-content {
    background-color: rgb(250, 244, 235);;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgb(35, 23, 5);
    text-align: center;
}





