body {
    margin: 0;
    color: #2d4c5c; 
}

a {
    color: #2d4c5c; 
}

ul, p, h2, h3 {
    margin: 0;
    padding: 0;
   
}

/* container for all */
.container{
    padding: 0 20px;
  
}

/* Header and its transparent*/

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: transform 0.4s ease,
                opacity 0.3s ease;
}

/* navbar and its children */
.navbar {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    padding: 0 10px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: transform 0.4s ease,
                opacity 0.3s ease;
   
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 0;
    height: 1px;
    background:#2d4c5c;
    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links { 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.nav-brand img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}
.nav-action,
.nav-brand,
.nav-menu { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.icon:hover {
    opacity: 0.6;
}

/* Hero Section */

.hero-card {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   overflow: hidden;
   border-radius: 20px;
}
.hero-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.hero-card:hover img {
    transform: scale(1.1);
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    background-color: rgb(251, 252, 242);
    padding: 60px;
}
.hero-content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 500px;
    margin-bottom: 30px;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    
}
.hero-content h2 {
    margin-bottom: 20px;
}
.hero-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 36px;
    border: 1px solid #666;
    border-radius: 999px;
    text-decoration: none;
    transition: .3s;
}
.hero-btn:hover {
    background:  #bad7db;
    color: #2d4c5c;
}

/* New Arrival Section */
.newArrivals-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    border-radius: 20px;
    overflow: hidden;
    gap: 50px;
    align-items: stretch;
    
}

.newArrivals-card img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
  
}

.newArrivals-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 244, 247);
    padding: 10px;
    border-radius: 20px;
   
}
.move-btn {
    display: inline-flex;
    justify-content: space-between;    
}

.abtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: large;
    color: #33505e;
    border-style: none;
    background-color: #f3f2e2;
}
.abtn:hover {
    background: #bad7db;
    color: #2d4c5c;
}

#newArrivals h2,
#newArrivals p{
    padding: 20px 0;
    text-align: center;
}

.viewItem-btn {
    padding: 12px 36px;
    border: 1px solid #666;
    border-radius: 999px;
    text-decoration: none;
    background-color: #f3f2e2;
    transition: .3s;
    align-self: center;
}
.viewItem-btn:hover {
    background:   #bad7db;
    color: #2d4c5c;
}

@media (max-width: 900px) {
  .newArrivals-card{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


/* About  */

#about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(251, 252, 242);
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
}


#about-card h2,
#about-card p{
    padding: 20px 10px;
    text-align: center;
}

#about-card p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0 auto 20px;
   font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}


/* Contact footer */

.contact-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: rgb(230, 244, 247);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.contact-menu a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer-logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.shop-links, .followUs-links, .reachUs-links{
    list-style: none;
    padding: 10px 0;
}





